body {
    background: radial-gradient(circle, #2a0000, #000);
    height: 100vh;
    overflow: hidden;
    color: white;
    user-select: none;
}

/*--------------------------------------------------------------
# INDEX - DIALOGO
--------------------------------------------------------------*/
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

#dialogo{
  font-weight: bold;
}

/*--------------------------------------------------------------
# CONFIGURAÇÕES MODAL 
--------------------------------------------------------------*/
.modal-content {
  background-color: rgb(255, 255, 255);
  
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: inherit; /* mantém mesma cor interna */
}

/*Evita palavras vazando do modal*/
#viewIncidentText {
  word-break: break-word;      /* força quebra de palavras longas */
  overflow-wrap: anywhere;     /* também força quebra se necessário */
}
.modal-body{
  background-color: red;
}
.modal-header{
  font-family: "Press Start 2P", monospace;
}
